@model List<MyPortfolio.DAL.Entities.Portfolio>

<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>@ViewBag.aboutTitle</h3>
            <h1>@ViewBag.aboutSubtitle</h1>

            <p class="lead">@ViewBag.aboutDescription</p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">
            @foreach(var item in Model)
            {
                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href=@item.ProjectLink class="thumb-link" title=@item.ProjectTitle data-size="1050x700">
                                <img src=@item.SecondImageSource
                                     srcset="@item.SecondImageSource 1x, @item.ThirdImageSource 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                @item.ProjectTitle
                            </h3>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->
            }
        </div>
    </div> <!-- end masonry -->

</section> <!-- end works -->